/* Stile Generale */
body {
    font-family: 'Bodoni', 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    background-color: #f9f9f9;
}

/* Barra di navigazione */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #1c1c1c; /* Grigio antracite */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 100;
}

.navbar .logo img {
    height: 80px; /* Aumentata la dimensione del logo */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: 40px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    padding: 10px 15px;
}

.nav-links a:hover {
    color: #f2a900; /* Giallo Lamborghini */
}

/* Corregge il comportamento di Home e Chi Siamo */
#home {
    scroll-margin-top: 100px;
}

#contatti {
    scroll-margin-top: 100px;
}

/* Header con video di sfondo */
header {
    position: relative;
    height: 100vh;
    text-align: center;
    color: white;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}

.text-container h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 5em;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

/* Sezione Galleria - immagini allineate orizzontalmente */
.images-grid {
    display: flex;
    flex-wrap: nowrap; /* Impedisce che le immagini vadano a capo */
    justify-content: flex-start;
    gap: 20px;
    overflow-x: scroll; /* Forza lo scorrimento orizzontale */
    padding: 20px;
    width: 100%;
    min-width: 100vw; /* Assicura che le immagini abbiano spazio per allinearsi */
}

.images-grid img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    flex-shrink: 0; /* Evita che le immagini si ridimensionino */
}
